@import './variables.scss';

:root {
	--r-border-color: #{$border-color};
	--r-border-radius: 4px;
}

html:not(.dark) {
	--r-text-color: #333;
	--r-background: #fff;
}

html.dark {
	--r-text-color: #fff;
	--r-background: #333;
}
